In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import tree
from sklearn.metrics import classification_report

In [4]:

TARGET = "C:\\Users\\kisan\\OneDrive\\바탕 화면\\unweather\\Project\\Document_Analysis\\Dataset\\URL_SET\\RESULT.csv"

df = pd.read_csv(TARGET)

In [5]:
df = df.loc[df['type']!=-1]

In [10]:
df = df.loc[df['type']!=-1]

In [12]:
df['type'].value_counts()

type
0.0    206402
1.0     60020
Name: count, dtype: int64

In [13]:
df_nor= df.loc[df['type']==0][:60020]
df_mal= df.loc[df['type']==1]

In [15]:
df_tmp = pd.concat([df_nor,df_mal])
df_tmp.to_csv(TARGET,index=False)

TypeError: concat() takes 1 positional argument but 2 were given

In [63]:
for i in data.columns:
    cnt = 0
    json = {}
    if type(data[i][0])!=type(data['age'][0]):
        for j in set(data[i]):
            json[j]=cnt
            cnt+=1
        data[i].replace(json,inplace=True)

In [64]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,5,2,1,1,2143,0,1,2,5,6,261,1,-1,0,2,1
1,44,10,0,3,1,29,0,1,2,5,6,151,1,-1,0,2,1
2,33,11,2,3,1,2,0,0,2,5,6,76,1,-1,0,2,1
3,47,9,2,2,1,1506,0,1,2,5,6,92,1,-1,0,2,1
4,33,1,0,2,1,1,1,1,2,5,6,198,1,-1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,10,2,1,1,825,1,1,1,17,5,977,3,-1,0,2,0
45207,71,2,1,0,1,1729,1,1,1,17,5,456,2,-1,0,2,0
45208,72,2,2,3,1,5715,1,1,1,17,5,1127,5,184,3,3,0
45209,57,9,2,3,1,668,1,1,0,17,5,508,4,-1,0,2,1
45210,37,11,2,3,1,2971,1,1,1,17,5,361,2,188,11,0,1

In [65]:
X_features = data.loc[:,data.columns != 'y']
y_label = data['y']

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_label,
                                                    test_size=0.4, random_state=0)

In [68]:
clf = tree.DecisionTreeClassifier()

In [69]:
clf = clf.fit(X_train,y_train)

In [75]:
pred_test = clf.predict(X_test)
print(classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           0       0.44      0.46      0.45      2128
           1       0.93      0.92      0.92     15957

    accuracy                           0.87     18085
   macro avg       0.68      0.69      0.69     18085
weighted avg       0.87      0.87      0.87     18085